<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- <form [formGroup]="data" (ngSubmit)="gopage(username)">  
 <ion-item>
    <ion-label>Username</ion-label>
    <ion-input formControlName="username"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Password</ion-label>
    <ion-input formControlName="password"></ion-input>
  </ion-item>
  
  <ion-button expand="block"  type="submit">Login</ion-button>
  </form> -->




  <ion-item>
    <ion-label>Username</ion-label>
    <ion-input [(ngModel)]="username"></ion-input>
  </ion-item>

  <ion-button expand="block" (click)="gopage(username)" >Login</ion-button>
</ion-content>
